.main-controller{
    display: flex;
    flex-direction: column;
    width:200px;
    height: 300px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.main-controller.iceblue {
    background-color: #2b576f;
  }
  
  .main-controller.aquagreen {
    background-color: #7fffd4;
  }
  
  .main-controller.red {
    background-color: red;
  }
  
.temprature{
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.temprature h3{
    font-size: 30px;
}
.plus-controller,.minus-controller{
    width:25px;
    border-radius: 50%;
}